<h1>Books#index</h1>



<!-- ページネーション -->
<div class="pagenate" %>
	<%= paginate(@books) %>
</div>
<!-- ページネーション終了 -->


<!-- 本情報の一覧を表示 -->
<div id="index">
	<% @books.each do |book| %>
		<div class="book">
			<a href=" books/<%= book[:id] %>"><img src="<%= book.image_url %>" width="100px"></a><br>
			<%= book.title %><br>
		</div>
	<% end %>
</div>

