
<div class="title">
<h2>本の一覧</h2>
</div>
<!-- ページネーション -->
<div class="pagenate" %>
	<%= paginate(@books) %>
</div>
<!-- ページネーション終了 -->


<!-- 本情報の一覧を表示 -->
<div id="index">
	<% @books.each do |book| %>
		<div class="book">
			<a href=" books/<%= book[:id] %>"><img src="<%= book.image_url %>" width="180px"></a><br>
			<%= book.title %><br>
			<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	<% end %>
</div>

