<header>
  <div id="logo">
  	<h1><a href="<%= books_path %>">ロゴ</a></h1>
  </div>
  <nav>
  	<div class="global-nav">
  	  <ul>
  	  	<li>マイページ</li>
  	  	<li>ログアウト</li>
  	  </ul>
  	</div>
  </nav>
</header>